.sidebar {
  .filter-label {
    font-size: 18px;
    font-weight: 500;
  }

  .filter-item {
    &__input {
      text-decoration: none;
      cursor: pointer;
      font-size: 16px;
      margin-top: 12px;
      display: flex;
      justify-content: space-between;
    }

    &__dropdown.active {
      transition: opacity 2s linear;
    }

    &__dropdown {
      margin-top: 10px;

      &-item {
        cursor: pointer;
        padding: 6px 4px;
        display: grid;
        grid-template-columns: 1em auto;
        gap: 0.5em;

        input[type="checkbox"] {
          font: inherit;
          color: grey;
          width: 1.15em;
          height: 1.15em;
          border: 0.15em solid grey;
          border-radius: 0.15em;
          transform: translateY(-0.075em);
        }
      }
    }

    .button-apply {
      margin-top: 38px;
      width: 100%;
      height: 38px;
      border-radius: 40px;
      border: none;
      font-size: 14px;
      color: black;
      font-weight: 600;
      cursor: pointer;
    }
  }

  .filter-chips {
    font-size: 18px;
    display: flex;
    column-gap: 10px;
    margin: 20px 0px;
    width: 320px;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }

    &__item {
      min-width: 100px;
      text-align: center;
      justify-content: center;
      display: flex;
      align-items: center;
      border: 1px solid black;
      border-radius: 20px;
      padding: 4px;

      &.active {
        background-color: black;
        color: white;
      }
    }
  }
}